#box{
    height: 600px;
    width: 550px;
    background-color: paleturquoise;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 10px 10px 50px yellow;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px ;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;

}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}


body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1{
    background-color: brown;
}
